// [services_blackboard]
#services.blackboard {
    background: $black-board;
    color: white;
    padding: $section-padding 0;

    h2 {
        position: relative;
        margin-bottom: 5vw;
        text-align: center;

        &::before {
            color: white;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 1vw;
            width: min(10vw, 100px);
            height: min(10vw, 100px);
            background-image: url(../images/iconimage03.png);
            background-size: contain;
            transform: translateY(-50%);
            animation: sway 5s linear infinite alternate-reverse;
        }
    }

    .services-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2vw 0;
        margin-bottom: 5vw;
    }

    .services-list-item {
        width: 42vw;
        text-align: center;
        transition: all 200ms ease-in-out;

        a {
            display: block;
            flex-direction: column;
            padding: 2vw;
            background: white;

            @include respond-to(desktop) {
                padding: 1vw;
            }

            &:hover {
                .services-list-img {
                    box-shadow: none;
                }

                img {
                    box-shadow: 2px 2px 5px get-color(secondary);
                    transform: translate(2px, 2px);
                }

                h3 {
                    color: get-color(secondary);
                }
            }
        }

        h3 {
            margin-bottom: 1em;
            color: $black-board;
            transition: all 200ms ease-in-out;
        }

        @include respond-to(tablet) {
            width: calc((100% - (2vw * 2)) / 3);
        }
    }

    .services-list-img {
        height: 25vw;
        position: relative;
        box-shadow: 2px 2px 5px $black-board;
        margin-bottom: 2em;

        @include respond-to(tablet) {
            height: 100%;
        }

        img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        span {
            font-size: 1.5rem;
            text-shadow: 0.2rem 0.2rem 0.1rem #fff;
            position: absolute;
            z-index: 3;
            bottom: 0;
            right: 0;
            transform: translate(0%, 50%);
            font-family: "Montserrat", sans-serif;
            @include respond-to(desktop) {
                font-size: 2.5rem;
            }
        }
    }
}

// [school_list]
.school-list {
    @include school-list();
}

// [school_number]
.school-number {
    li {
        border: 1px solid get-color(primary);
        a {
            display: block;
            width: 100%;
            text-align: center;
            background-color: get-color(primary, light);
            line-height: 1;
            padding: 1rem;
            list-style-type: none !important;
            font-weight: bold;
            white-space: nowrap;

            &::before {
                content: "\f095";
                font-family: "Font Awesome 5 Free";
                padding: 0 0.4rem 0 0;
            }

            &:hover {
                @include respond-to(desktop) {
                    background-color: get-color(secondary, light);
                }
            }
        }
    }
    @include respond-to(desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            width: 33%;
        }
        img {
            display: block;
            width: 60%;
            margin: 0 auto;
        }

        a[href*="tel:"] {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
        }
    }
}

//[sns_cta]
.sns_cta_flex {
    display: flex;
    width: 80%;
    max-width: 18rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 2rem;
    gap: 10%;
    align-content: space-around;
    text-align: center;
    border-radius: 1rem;
    background: #ffffff;
    box-shadow: 10px 10px 20px #dedede, -10px -10px 20px #ffffff;
    padding: 2rem 2rem;

    .sns_cta_icons {
        width: 20%;
        padding-top: 1.8rem;
    }

    p {
        color: get-color(primary);
        font-weight: 800;
        width: 100%;
        text-align: center;
    }
}
