.page-template-about-us {
    h1 {
        @include respond-to(desktop) {
            padding: 2rem !important;
        }
    }
    .vision {
        p {
            text-align: center;
            background-color: #fff;
            padding: 0 0 5vh 0;
        }
    }

    @include respond-to(desktop) {
        .flexbox {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2vw 0;

            .box {
                flex-basis: 50%;
                margin: 2vw;
            }
        }
    }

    .section-image {
        text-align: center;

        @include respond-to(desktop) {
            margin: 0;
            padding: 0;

            a {
                transition: all 0.3s;
                width: 100px;

                &:hover {
                    filter: brightness(110%);
                }
            }
        }

        .logo {
            width: 80vw;
            padding: 1rem;
            box-shadow: 5px 5px 5px 5px get-color(gray, light);
            border-radius: 20px;
        }
    }

    .section-text {
        .credo {
            color: get-color(primary);
            text-align: center;
            font-size: 1.3rem;
            letter-spacing: 0.2rem;
            margin: 0;
            white-space: nowrap;

            @include respond-to(desktop) {
                font-size: 1.6rem;
                text-align: left;
                padding: 0 0 1rem;
            }
        }

        p {
            @include respond-to(desktop) {
                margin: 0;
                padding: 0;
            }
        }
    }

    .other-schools {
        padding-top: $section-padding;
        h2 {
            text-align: center;
            margin-bottom: 5vw;
            text-shadow: 0 0 5px white;
        }
        .other-list {
            > div {
                margin-bottom: $section-padding;
            }
        }
    }
}
