.center-template-default {
    #single-center {
        h1 {
            font-size: 1.3rem;
            letter-spacing: -0.1vw;
            word-break: keep-all;
            @include respond-to(desktop) {
                font-size: 2.5rem;
                letter-spacing: 0.2rem;
                position: relative;
                background: none;
                &::before,
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    width: 100px;
                    height: 100%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &::before {
                    left: 0;
                    background-image: url("../images/icon_leaf_left.png");
                }
                &::after {
                    right: 0;
                    background-image: url("../images/icon_leaf_right.png");
                }
            }
        }

        h2 {
            text-align: center;
            padding: 5vw 0;
            margin-bottom: 5vw;
            color: get-color(primary);
            text-shadow: 2px 2px 2px white;
            z-index: 1;

            @include respond-to(desktop) {
                padding: 0;
                margin: 0 0 10vh 0;

                img {
                    width: 100%;
                    display: block;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        img {
            width: 100%;
        }

        section {
            text-align: center;
            padding: $section-padding 0;
        }

        // Hero Section
        #hero {
            padding: 0 !important;
        }

        .hero-mask {
            height: 300px;

            @include respond-to(desktop) {
                height: 60vh;
            }
        }

        // Intro Section
        #intro {
            padding: 5vh 0;
            display: block;

            @include respond-to(desktop) {
                max-width: 1800px;
                padding: 5vh 0;
                margin: 0 auto;
            }

            .intro-text {
                @include respond-to(desktop) {
                    gap: 2vw;
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-inline: auto;
                }
            }

            p {
                @include respond-to(desktop) {
                    letter-spacing: 0.1rem;
                    line-height: 2.5rem;
                    margin: 2rem auto;
                }
            }

            span {
                color: get-color(primary);
                font-size: 1.27rem;
                font-size: clamp(1rem, 0.7rem + 1vw, 1.27rem);
                @include respond-to(desktop) {
                    max-width: 60%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-inline: auto;
                }
            }

            .childcare-type {
                width: 80%;
                padding: 0.5em 2em;
                color: get-color(primary);
                font-weight: 900;
                border-radius: 10px;
                background-color: get-color(primary, light);
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-inline: auto;
                &:hover {
                    background-color: get-color(secondary, light);
                    color: get-color(secondary);
                }

                @include respond-to(tablet) {
                    width: auto;
                }
            }
        }

        // Message Section
        #message {
            background-color: get-color(primary, light);
        }

        .message-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5vw;

            @include respond-to(tablet) {
                flex-direction: row;
            }
        }

        .message-text {
            // width: 80vw;
            margin: 1rem auto;
            padding: 0 1.5rem;
            line-height: 2rem;
            text-align: left;
            color: #333;
            flex-direction: column;
            position: relative;
            z-index: 0;

            &::before {
                position: absolute;
                top: 2rem;
                left: 1.5rem;
                width: calc(100% - 3.5rem);
                height: calc(100% - 2rem);
                background-image: repeating-linear-gradient(
                    #fff 0 1px,
                    transparent 1px 2rem
                );
                content: "";
                z-index: -1;
            }

            .name {
                display: inline;
                font-weight: 700;
                font-size: 1.1rem;
                font-size: clamp(1.1rem, 0.8rem + 1vw, 1.5rem);

                @include respond-to(desktop) {
                    text-align: center;
                }
            }
            @include respond-to(tablet) {
                flex: 2;
                display: flex;
                align-items: center;
            }
        }

        .message-img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: 1rem auto;

            img {
                width: 50vw;
                max-height: 500px;
                object-fit: contain;
                border-radius: 10px;
                filter: drop-shadow(1px 2px 3px black);
            }

            h3 {
                position: absolute;
                bottom: -10px;
                right: -30px;
                background-image: url(../images/name-tag.png);
                background-size: 100% 100%;
                width: 150px;
                height: 80px;
                transform: rotate(-10deg);
                line-height: 1.5rem;
                padding: 1.2rem 0.9rem;
                font-size: 1rem;
                box-shadow: 0 0.2rem 0.9rem 0 #ddd;

                @include respond-to(tablet) {
                    bottom: -15px;
                    right: -25px;
                }

                span {
                    position: relative;
                    bottom: -1.5rem;
                    font-family: "Caveat", cursive;
                    font-size: 1.2rem;
                    white-space: nowrap;
                }
            }

            @include respond-to(tablet) {
                flex: 1;
            }
        }

        // Services(School-life) Section
        .blackboard h2 {
            color: white;
            text-shadow: none;
        }

        // Features Section
        .feature-list {
            display: flex;
            flex-direction: column;
            gap: 10vw;
            justify-content: space-around;
            text-align: center;

            @include respond-to(tablet) {
                flex-direction: row;
            }

            @include respond-to(desktop) {
                gap: 5vw;
            }
        }

        .feature-list-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond-to(desktop) {
                width: 50%;
            }
        }

        .feature-img {
            width: 75vw;
            height: 50vw;
            position: relative;

            @include respond-to(tablet) {
                width: 40vw;
                height: 26vw;
            }

            @include respond-to(desktop) {
                width: 30vw;
                height: 19.5vw;
            }

            img {
                height: 100%;
                object-fit: cover;
                position: relative;
                z-index: 2;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: -3vw;
                right: -2vw;
                width: 100%;
                height: 100%;
                background-image: repeating-linear-gradient(
                    -45deg,
                    #e4efe7 0px,
                    #e4efe7 3px,
                    rgba(0 0 0 / 0) 0%,
                    rgba(0 0 0 / 0) 50%
                );
                background-size: 8px 8px;
                z-index: 1;

                @include respond-to(desktop) {
                    bottom: -1vw;
                    right: -1vw;
                }
            }
        }

        .feature-text {
            h3 {
                margin: 5vw 0;
                padding: 5vw;
                background-image: url(../images/center_feature-bg.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                display: block;
                color: get-color(primary);
                text-shadow: 1px 1px white;

                @include respond-to(desktop) {
                    display: block;
                    margin: 0 auto;
                    padding: 3vw 0;
                    width: 80%;
                }
            }

            p {
                padding: 0 10px;
            }
        }

        // Staff Section
        .profile-card {
            position: relative;
            box-shadow: 0 0 5px get-color(gray, dark);

            @include respond-to(tablet) {
                display: flex;
                .profile-top {
                    flex: 1;
                }
                .profile-bottom {
                    flex: 2;
                }
            }
        }
        .profile-img {
            text-align: center;
            position: relative;
            padding: 10% 0;

            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 50%;
                background-color: $black-board;
                top: 0;
                left: 0;
                position: absolute;

                @include respond-to(tablet) {
                    background-color: white;
                }
            }

            img {
                border-radius: 50%;
                border: solid 5px white;
                background-color: get-color(primary, light);
                width: 70%;
                position: relative;
                z-index: 1;
                margin: 0 auto;
                filter: drop-shadow(0px 0px 2px $black-board);
            }
        }
        .profile-title {
            text-align: center;
            font-family: "Caveat", italic;
            padding-bottom: 5%;
            line-height: 1;

            p {
                font-weight: 700;
                font-size: 1.7rem;
                font-size: clamp(1.7rem, 1.2rem + 0.9vw, 2rem);
            }
            span {
                display: block;
                font-size: 1.35rem;
                font-size: clamp(1.35rem, 1rem + 0.5vw, 1.5rem);
            }
        }
        .profile-info {
            border-collapse: collapse;
            tr {
                display: block;
                border-bottom: 1px solid get-color(gray, light);
                &:last-child {
                    border-bottom: none;
                }
            }
            th {
                background: get-color(primary, light);
            }
            th,
            td {
                display: block;
                text-align: start;
                padding: 0.5em;
            }
        }

        // daily schedule
        #daily-schedule {
            @include respond-to(desktop) {
                background-image: linear-gradient(
                        0deg,
                        transparent calc(100% - 1px),
                        #f0f0f0 calc(100% - 1px)
                    ),
                    linear-gradient(
                        90deg,
                        transparent calc(100% - 1px),
                        #f0f0f0 calc(100% - 1px)
                    );
                background-size: 30px 30px;
                background-repeat: repeat;
                background-position: center center;
            }
        }

        #annual-events {
            @include respond-to(desktop) {
                background-color: #f5f5f5;
            }
        }
        // Slick Slider Styles
        .slick-prev {
            left: 5vw;

            @include respond-to(desktop) {
                left: 2vw;
            }
        }

        .slick-next {
            right: 5vw;

            @include respond-to(desktop) {
                right: 2vw;
            }
        }

        .slick-prev,
        .slick-next {
            z-index: 1;
            height: 10vw;
            width: 10vw;

            &::before {
                font-size: 40px;
                color: get-color(primary);
            }
        }

        .slick-track {
            display: flex;

            > div {
                height: auto;
            }
        }

        // Daily Slider & Annual Events Slider
        .slider-day,
        .slider-annual {
            max-width: 1024px;
            margin-left: auto;
            margin-right: auto;
            margin-inline: auto;

            @include respond-to(desktop) {
                width: 800px;
            }
        }

        .slider-day-item,
        .slider-annual-item {
            margin: 0 1.3vw;
            padding: 6vw 5vw;
            border-radius: 2vw;
            background: get-color(primary, light);

            @include respond-to(desktop) {
                margin: 0 0.8vw;
                padding: 3vw 3vw;
                border-radius: 1vw;
            }

            img {
                width: 100%;
                height: 40vw;
                border-radius: 5vw;
                object-fit: cover;

                @include respond-to(desktop) {
                    width: 100%;
                    height: auto;
                    border-radius: 1vw;
                    object-fit: cover;
                    margin: 0 auto;
                }
            }

            h3 {
                font-size: clamp(1rem, 0.8rem + 1vw, 1.7rem);
                padding: 1em 0;
            }

            p,
            ul {
                text-align: start;
                width: 80%;
                margin: 0 auto;
            }
        }

        .slider-day-text {
            span {
                display: block;
                margin: 2vw 0 0 0;
                color: get-color(primary);
                font-family: "Montserrat", sans-serif;

                @include respond-to(desktop) {
                    font-size: 1.7rem;
                    padding: 0.8rem 0 0 0;
                    margin: 0;
                }

                &::before {
                    content: "\f017";
                    font-family: "Font Awesome 6 Free";
                    font-weight: 700;
                    margin-right: 0.7em;
                }
            }
        }

        .slider-annual-text {
            li {
                padding: 1.3vw;
                border-bottom: 2px dotted get-color(primary);
                word-break: keep-all;

                @include respond-to(desktop) {
                    padding: 0.5vw;
                }
            }
        }

        // Blog Posts
        .blog-list-text {
            align-items: center;
            text-align: center;
        }

        .blog-categories {
            justify-content: center;
        }

        // WPVR Section

        // Center Section
        .center-table {
            @include table;
            margin-bottom: 7vh;

            @include respond-to(desktop) {
                max-width: 60vw;
                margin: 0 auto;
            }

            .map {
                @include respond-to(desktop) {
                    padding: 1vw 6vw;
                    margin: 0 auto;
                }
            }

            .busmap {
                @include respond-to(desktop) {
                    padding: 1vw 6vw;
                    margin: 0 auto;
                }
            }
        }

        .center-others {
            margin: 10vh 0;
        }

        .ichijihoiku-banner {
            margin: 0 auto;
            max-width: 450px;
            display: block;

            &:hover,
            &:focus {
                opacity: 0.8;
                position: relative;
                top: 1px;
                left: 1px;
            }
        }

        .bg-center-visit {
            background-image: url(../images/center_visit-bg.jpg);
            background-repeat: repeat-x;
            background-size: cover;
            width: 100%;
            height: auto;
            text-align: center;
            margin: 0 auto;

            // .container {
            //     background: rgba(255, 255, 255, 0.6);
            // }

            .box {
                display: flex;
                align-items: center;
            }
            .item {
                width: 28%;

                h2 {
                    margin: 0 auto;
                    padding: 0 0 0 0;
                    letter-spacing: 0.4rem;
                    width: 300px;
                }
                p {
                    padding: 0 0 4vh 0;
                    line-height: 2;
                }
            }

            .item:nth-of-type(2) {
                flex-grow: 1;
            }

            // .visit-link {
            //     padding: 0 0 50px;
            // }
        }
    }
}
